body {
  font: 100% Helvetica, sans-serif;
  font-size: 2em;
  color: #333333;
  background-color: white;
}

.left {
  float: left;
}

.right {
  float: right;
}

.navbar {
  background-color: black;
  color: white;
}
.navbar ul {
  margin-top: 15px;
}

.toolbar {
  background: #333333;
}
