body {
  font: 100% Helvetica, sans-serif;
  font-size: 2em;
  color: #333333;
  background-color: white;
}

.left {
  float: left;
}

.right {
  float: right;
}

.navbar {
  background-color: black;
  color: white;
  margin-bottom: 0px !important;
}
.navbar ul {
  margin-top: 15px;
}

.toolbar {
  background: #333333;
}

.slideme {
  width: 100%;
  height: 100%;
}
.slideme img {
  width: 100%;
}

#home-slider .arrow.next {
  position: absolute;
  right: 0;
  top: 40%;
  z-index: 99;
}
#home-slider .arrow.prev {
  position: absolute;
  left: 0;
  top: 40%;
  z-index: 99;
}
#home-slider .slider-title {
  top: 20%;
}
#home-slider .slider-description {
  top: 40%;
}
#home-slider .slider-title,
#home-slider .slider-description {
  color: white;
  position: absolute;
  left: 50px;
}
