$font-stack: Helvetica, sans-serif;
$normal-size: 2em;
$primary-color: #333;

body {
  font: 100% $font-stack;
  font-size: $normal-size;
  color: $primary-color;
  background-color: white;
}

.left {
	float: left;
}
.right {
	float: right;
}

.navbar {
	
	background-color: black;
	color: white;
	margin-bottom: 0px !important;
	
	ul {
		margin-top: 15px;
	}

}

.toolbar {
	background: $primary-color;
}

.slideme {
	width: 100%;
	height: 100%;
	
	img {
		width: 100%;
	}
}

#home-slider {
	.arrow.next {
		position: absolute;
		right: 0;
		top: 40%;
		z-index: 99;
	}
	.arrow.prev {
		position: absolute;
		left: 0;
		top: 40%;
		z-index: 99;
	}
	.slider-title {
		top: 20%;
	}
	.slider-description {
		top: 40%;
	}
	.slider-title,
	.slider-description {
		color: white;
		position: absolute;
		left: 50px;
	}
}