$font-stack: Helvetica, sans-serif;
$normal-size: 2em;
$primary-color: #333;

body {
  font: 100% $font-stack;
  font-size: $normal-size;
  color: $primary-color;
  background-color: white;
}

.left {
	float: left;
}
.right {
	float: right;
}

.navbar {
	
	background-color: black;
	color: white;
	
	ul {
		margin-top: 15px;
	}

}

.home {
	height: 100vh;
	color: white;
}
.home::after {
  content: "";
  background: url("../images/fitness.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
}

.toolbar {
	background: $primary-color;
}
